<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>梦中程序员管理后台--QQ:305530751</title>
    <link rel="shortcut icon" href="/static/admin/img/logo.jpg" type="image/x-icon">
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/admin/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/admin/css/weather-icons.min.css" rel="stylesheet" />
    <link id="beyond-link" href="/static/admin/css/beyond.min.css" rel="stylesheet" type="text/css" />
</head>
<body class="body-404">
<div class="error-header" style="height: 150px;"> </div>
<div class="container ">
    <section class="error-container text-center">
        <h1>404</h1>
        <div class="error-divider">
            <h2>page not found</h2>
            <p class="description" style="line-height: 35px;">We Couldn’t Find This Page</p>
        </div>
        <a href="{:url('admin/index/login')}" class="return-btn" style="margin-top: 10px;"><i class="fa fa-home"></i>Home</a>
    </section>
</div>

{include file="public/_foot" /}
</body>
<!--  /Body -->
</html>
