{include file="public/_head" /}
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">

        <!-- Page Sidebar -->
        {include file="public/_left" /}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-home"></i>&nbsp;会员管理
                    </li>
                    <li>会员列表</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Body -->
            <div class="page-body">
                <a href="{:url('admin/member/memberadd')}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>&nbsp;会员添加</a>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget">
                            <div class="widget-header">
                                <span class="widget-caption">
                                    <a href="{:url('admin/member/memberlist', ['status' => 1])}" class="btn btn-azure btn-sm" id="normal">正常账号</a>
                                    <a href="{:url('admin/member/memberlist', ['status' => 0])}" class="btn btn-danger btn-sm" id="disable">禁用账号</a>
                                </span>
                                <div class="widget-buttons">
                                    {$members->render()|raw}
                                </div>
                            </div>
                            <div class="widget-body">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>账号</th>
                                            <th>昵称</th>
                                            <th>邮箱</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {volist name="members" id="vo"}
                                        <tr>
                                            <td>{$vo.username}</td>
                                            <td>{$vo.nickname}</td>
                                            <td>{$vo.email}</td>
                                            <td>{if $vo.status == 1}正常{else /}禁用{/if}</td>
                                            <td>
                                                {if $vo.status == 0}
                                                <a href="#" class="btn btn-success btn-xs member-status" dataid="{$vo.id}" statusid="{$vo.status}">启用</a> {else /}
                                                <a href="#" class="btn btn-warning btn-xs member-status" dataid="{$vo.id}" statusid="{$vo.status}">禁用</a> {/if}
                                                <a href="{:url('admin/member/memberedit', ['id' => $vo.id])}" class="btn btn-azure btn-xs">编辑</a>
                                                <a href="#" class="btn btn-danger btn-xs member-del" dataid="{$vo.id}">删除</a>
                                            </td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>

{include file="public/_foot" /}
<script>
    $(function() {
        $('.pagination').addClass('pagination-sm');

        $('.member-status').click(function() {
            var id = $(this).attr('dataid');
            var status = $(this).attr('statusid');
            if (status == 1) {
                var msg = '确定禁用吗？';
            } else {
                var msg = '确定启用吗？';
            }
            layer.confirm(msg, {
                title: '状态操作',
                icon: 3
            }, function(index) {
                layer.close(index);
                $.ajax({
                    url: "{:url('admin/member/memberstatus')}",
                    type: 'post',
                    data: {
                        id: id,
                        status: status
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (data.code == 1) {
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 2000
                            }, function() {
                                location.href = data.url;
                            });
                        } else {
                            layer.open({
                                title: '操作失败',
                                content: data.msg,
                                icon: 5,
                                anim: 6
                            });
                        }
                    }
                });
            });
            return false;
        });

        $('.member-del').click(function() {
            var id = $(this).attr('dataid');
            layer.confirm('确定删除吗？', {
                title: '删除会员',
                icon: 3,
                anim: 6
            }, function(index) {
                layer.close(index);
                $.ajax({
                    url: "{:url('admin/member/memberdel')}",
                    type: 'post',
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (data.code == 1) {
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 2000
                            }, function() {
                                location.href = data.url;
                            });
                        } else {
                            layer.open({
                                title: '操作失败',
                                content: data.msg,
                                icon: 5,
                                anim: 6
                            });
                        }
                    }
                });
            });
            return false;
        });
    });
</script>
</body>
<!--  /Body -->

</html>